{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
        <div class="article-metadata">
          <small class="author">{{ post.author }}</small>
          <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
            <div>
                {% if post.author == user %}
                    <a class="btn btn-secondary bt-sm mt-1 md-1" href="{% url 'blog-update' post.id %}">Update</a>
                    <a class="btn btn-danger bt-sm mt-1 md-1" href="{% url 'blog-delete' post.id %}">Delete</a>
                {% endif %}
            </div>
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
{% endblock content %}